{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "printWidth": 100
            }
        },
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": "*.ts",
            "options": {
                "tabWidth": 4,
                "printWidth": 80
            }
        }
    ]
}
